html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.trax-date-picker {
  float: right;
  position: relative;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  white-space: initial;
  color: #555; }
  .trax-date-picker .datepicker-preview {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding: 0 10px;
    background-color: #eee;
    border: solid 1px #ddd; }
    .trax-date-picker .datepicker-preview:hover {
      background-color: #f6f8d5;
      border: solid 1px #aeb627; }
    .trax-date-picker .datepicker-preview .icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      vertical-align: sub;
      background-image: url("img/calendar.png");
      background-size: cover; }
  .trax-date-picker .actual-datepicker {
    position: absolute;
    right: 0;
    top: 55px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff; }
  .trax-date-picker .selection-dates {
    padding: 10px 0 30px; }
    .trax-date-picker .selection-dates .from,
    .trax-date-picker .selection-dates .to {
      margin-right: 5px; }
    .trax-date-picker .selection-dates .to {
      margin-left: 20px; }
    .trax-date-picker .selection-dates .date-input {
      padding: 10px 12px;
      border: solid 1px #ddd;
      background-color: #f5f5f5;
      font-size: 16px;
      outline: none; }
      .trax-date-picker .selection-dates .date-input:focus, .trax-date-picker .selection-dates .date-input:hover {
        background-color: #f6f8d5;
        border: solid 1px #aeb627; }
    .trax-date-picker .selection-dates .date-error {
      border-color: red; }
    .trax-date-picker .selection-dates .date-select-start,
    .trax-date-picker .selection-dates .date-select-end {
      border: solid 1px #b8cde0;
      background-color: #f0f9ff; }
  .trax-date-picker .panes {
    display: flex; }
  .trax-date-picker .pane {
    padding: 20px;
    border: solid 1px #ddd;
    background-color: #f5f5f5;
    vertical-align: top; }
  .trax-date-picker .change-date {
    position: absolute;
    top: 121px;
    width: 9px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("img/calendar-arrow.png");
    cursor: pointer; }
    .trax-date-picker .change-date:hover {
      background-image: url("img/calendar-arrow-active.png"); }
    .trax-date-picker .change-date.previous {
      transform: scaleX(-1);
      left: 40px; }
    .trax-date-picker .change-date.next {
      right: 40px; }
  .trax-date-picker .month-name {
    font-size: 16px;
    text-align: center; }
  .trax-date-picker .days-of-month {
    width: 280px;
    margin-top: 10px; }
  .trax-date-picker .day,
  .trax-date-picker .hour {
    display: inline-block; }
  .trax-date-picker .day {
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    border: solid 1px #ddd;
    color: #dbcfe6;
    background-color: #f5f5f5; }
    .trax-date-picker .day.enabled {
      color: #7a48a3; }
      .trax-date-picker .day.enabled:hover {
        background-color: #f9f2ff; }
    .trax-date-picker .day.date {
      cursor: pointer;
      background-color: #fff; }
    .trax-date-picker .day.day-name {
      border: none;
      color: #999; }
    .trax-date-picker .day.today {
      border-width: 3px;
      line-height: 26px;
      font-weight: 900; }
    .trax-date-picker .day.selected {
      color: #adadad;
      background-color: #e5ea86; }
      .trax-date-picker .day.selected.enabled {
        color: #000;
        background-color: #d2db2f; }
      .trax-date-picker .day.selected:hover {
        color: #000;
        background-color: #aeb627; }
    .trax-date-picker .day.empty {
      border: none; }
  .trax-date-picker button {
    cursor: pointer; }
  .trax-date-picker .range-buttons {
    text-align: center;
    border-bottom: solid 1px #ddd; }
    .trax-date-picker .range-buttons button {
      font-weight: 500;
      border: none;
      background-color: #fff;
      padding: 20px;
      color: #7a48a3; }
  .trax-date-picker .finish-buttons {
    text-align: right;
    margin-top: 20px; }
    .trax-date-picker .finish-buttons button {
      padding: 10px 20px;
      border: none;
      font-size: 16px;
      border-radius: 6px; }
      .trax-date-picker .finish-buttons button.apply {
        color: #fff;
        background-color: #7a48a3; }
      .trax-date-picker .finish-buttons button.cancel {
        background-color: #fff;
        color: #7a48a3; }

/*# sourceMappingURL=style.css.map */
